<section></section>
    <p></p>



    <div class="form-wrapper">
      <form action="/login" method="POST" class="form-group " >

      <h1 class="form-signin-heading">meraki!</h1> 

      <div class="form-group form-group-lg">

          <!-- <label for="email">Email</label> -->
            <input type="email" name="login_email" id="email" placeholder="name@domain.com" class="form-control" />
        </div>

        <div class="form-group form-group-lg login-password">
          <!-- <label for="password">Password</label> -->
            <input type="password" placeholder="password" name="login_password" id="password" class="form-control" />
        </div>

        <div class="checkbox form-group-lg text-center">
          <label for="remember">
            <input type="checkbox"> Remember Me!
          </label>
        </div>  

      <div class="form-group form-group-lg text-center">
        <button type="submit" class="btn">Log In</button>
      </div>

      <p class="text-center sign-up"><strong>Sign up</strong> for a new account</p>

    </form>
  </div>