<section></section>
    <p></p>



    <div class="form-wrapper">
      <form action="/profile/edit" method="POST" class="form-group " >

      <h1 class="form-signin-heading">meraki!</h1> 

      <div class="form-group form-group-lg">
        <!-- <label for="first-name">First Name</label> -->
          <input type="text" name="first_name" id="first-name" placeholder="first name" class="form-control" />
      </div>

      <div class="form-group form-group-lg">
        <!-- <label for="last-name">Last Name</label> -->
          <input type="text" name="last_name" id="last-name" placeholder="last name" class="form-control" />
      </div>

      <div class="form-group form-group-lg">

        <!-- <label for="email">E-mail</label> -->
          <input type="email" name="signup_email" id="email" placeholder="name@domain.com" class="form-control" />
      </div>

      <div class="form-group form-group-lg">
        <!-- <label for="password">Password</label> -->
          <input type="password" name="signup_password" id="password" class="form-control" placeholder="password" />
      </div>

      <!-- <label for="radio">Gender</label> -->
        <div class="radio form-group-lg text-center">
            <input type="radio" name="gender" id="female" /> Female 

            &nbsp; &nbsp; &nbsp; &nbsp;
        
            <input type="radio" name="gender" id="male" /> Male 
        </div>

      <div class="form-group form-group-lg text-center">
        <button type="submit" class="btn">Submit</button>
      </div>

      

    </form>
  </div>